<div th:fragment="panelCliente">

    <div class="card custom-card" style="max-width: 500px;">
        <div class="card-body">
            <!-- Le agrego una id para que el texto cambie si presiona el botón de editar -->
            <h4 class="section-title mb-4" id="panelClienteTitulo">Nuevo Cliente</h4>

            <form th:action="@{/clientes/guardar}"
                  th:object="${cliente}"
                  method="post">
                    <!-- 
                    Campo oculto para el id del cliente (necesario para editar)
                    -->
                  <input type="hidden" th:field="*{idCliente}">

                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text"
                           th:field="*{nombre}"
                           class="form-control"
                           placeholder="Ingrese el nombre"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text"
                           th:field="*{apellido}"
                           class="form-control"
                           placeholder="Ingrese el apellido"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">DNI</label>
                    <input type="text"
                           th:field="*{dni}"
                           class="form-control"
                           placeholder="Ej: 40123456"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label">Teléfono</label>
                    <input type="text"
                           th:field="*{telefono}"
                           class="form-control"
                           placeholder="Ej: 11 1234 5678"
                           required>
                </div>

                <!-- Actividad -->
                <!-- <select name="idActividad" class="form-select">
                    <option value="">Seleccionar actividad</option>
                    <option th:each="act : ${actividades}"
                            th:value="${act.idActividad}"
                            th:text="${act.nombre}">
                    </option>
                </select> -->

                <div class="mb-3">
                    <label class="form-label">Fecha de último pago</label>
                    <input type="date"
                        name="fechaPago"
                        class="form-control"
                        required>
                </div>

                <div id="alert-error" 
                    th:classappend="${error == null} ? 'd-none' : ''" 
                    class="alert alert-danger shadow-sm">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    <span th:text="${error}"></span>
                </div>

                <div id="alert-success" 
                    th:classappend="${success == null} ? 'd-none' : ''" 
                    class="alert alert-success shadow-sm">
                    <i class="bi bi-check-circle-fill me-2"></i>
                    <span th:text="${success}"></span>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a th:href="@{/clientes}" class="btn btn-outline-secondary">
                        Cancelar
                    </a>
                    <button type="submit" class="btn btn-action">
                        Guardar Cliente
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>
