<!-- 
    Panel para añadir instructores:
-->
<div th:fragment="panelInstructor">

    <div class="card custom-card" style="max-width: 500px;">
        <div class="card-body">

            <h4 class="section-title mb-4">Nuevo Instructor</h4>

            <form th:action="@{/instructores/guardar}"
                  th:object="${instructor}"
                  method="post">

                <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text"
                           th:field="*{nombre}"
                           class="form-control"
                           placeholder="Ingrese el nombre"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Apellido</label>
                    <input type="text"
                           th:field="*{apellido}"
                           class="form-control"
                           placeholder="Ingrese el apellido"
                           required>
                </div>

                <div class="mb-3">
                    <label class="form-label">DNI</label>
                    <input type="text"
                           th:field="*{dni}"
                           class="form-control"
                           placeholder="Ej: 40123456"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label">Teléfono</label>
                    <input type="text"
                           th:field="*{telefono}"
                           class="form-control"
                           placeholder="Ej: 11 1234 5678"
                           required>
                </div>

                <div class="mb-4">
                    <label class="form-label">Actividades</label>

                    <select class="form-select"
                            name="actividadIds"
                            multiple
                            required>

                        <option th:each="actividad : ${actividades}"
                                th:value="${actividad.idActividad}"
                                th:text="${actividad.nombre}">
                        </option>

                    </select>

                    <small class="text-muted">
                        Podés seleccionar más de una actividad (Ctrl o Shift)
                    </small>
                </div>


                <div id="alert-error" 
                    th:classappend="${error == null} ? 'd-none' : ''" 
                    class="alert alert-danger shadow-sm">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    <span th:text="${error}"></span>
                </div>

                <div id="alert-success" 
                    th:classappend="${success == null} ? 'd-none' : ''" 
                    class="alert alert-success shadow-sm">
                    <i class="bi bi-check-circle-fill me-2"></i>
                    <span th:text="${success}"></span>
                </div>
                <div class="d-flex justify-content-end gap-2">
                    <a th:href="@{/instructores}" class="btn btn-outline-secondary">
                        Cancelar
                    </a>
                    <button type="submit" class="btn btn-action">
                        Guardar Instructor
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>
