<!-- 
Fragmento del ASIDE usando thymeleaf.
Para exportarlo use th:fragment="sidebar-fragment" en la etiqueta <aside>
en cada link usé th:href para que cada "click" redirija a la ruta correspondiente (/ inicio, /clientes, etc)
-->



<!-- Barra lateral izquierda (aside)
    Clases de bootstrap:
    d-flex: para usar flexbox
    flex-column: para que los elementos hijos se dispongan en columna 
    p-3: padding de 3 unidades
-->

<aside th:fragment="sidebar-fragment" class="sidebar d-flex flex-column p-3">
    <!-- Divisor que contiene los links (ya no son botones)
        mb-auto: "margin-bottom" auto para empujar el footer(lo que está por debajo del aside) hacia abajo 
    -->
    <div class="mb-auto">
        <!-- 
            ul: lista desordenada
            nav: clase de bootstrap para navegación
            nav-pills: clase de bootstrap para darle un estilo a los links
            flex-column: para que los elementos hijos se dispongan en columna
            gap-3: espacio entre los elementos hijos
            mt-5: margin-top de 5 unidades
        -->
        <ul class="nav nav-pills flex-column mb-auto gap-3 mt-5">
            <!-- 
                li: elemento de lista
                nav-item: clase de bootstrap para los elementos de navegación
                a: enlace
                nav-link: clase de bootstrap para los enlaces de navegación
                custom-btn: clase personalizada para los botones
                active: clase de bootstrap para el enlace activo
            -->
            <li class="nav-item">
                <a th:href="@{/dashboard}"
                class="nav-link"
                th:classappend="${active == 'dashboard'} ? 'active'">
                <i class="bi bi-house-door me-2"></i>   
                Inicio
                </a>
            </li>
            <li>
                <a th:href="@{/clientes}" class="nav-link" th:classappend="${active == 'clientes'} ? 'active'"> 
                    <i class="bi bi-people me-2"></i> 
                    Clientes </a>
            </li>
            <li>
                <a th:href="@{/asistencias}" class="nav-link" th:classappend="${active == 'asistencias'} ? 'active'"> 
                    <i class="bi bi-check2-square me-2"></i>
                    Asistencias </a>
                </li>
            <li>
                <a th:href="@{/actividades}"
                class="nav-link" th:classappend="${active == 'actividades'} ? 'active'"> 
                <i class="bi bi-calendar-check me-2"></i>
                Actividades </a>
            </li>
            <a th:href="@{/instructores}" class="nav-link" th:classappend="${active == 'instructores'} ? 'active'"> 
                <i class="bi bi-person-badge me-2"></i>
                Instructores </a>
            </li>
            <li>
                <a th:href="@{/ingresos}" class="nav-link" th:classappend="${active == 'ingresos'} ? 'active'"> 
                    <i class="bi bi-currency-dollar me-2"></i>
                    Ingresos </a>
            </li>
            <li>
        </ul>
    </div>

    <!-- 
        Divisor que contiene el footer de la barra lateral
        sidebar-footer: clase personalizada para el footer de la barra lateral
        text-center: clase de bootstrap para centrar el texto
        mt-5: margin-top de 5 unidades
    -->
    <div class="sidebar-footer text-center ">
        <!-- 
            logo-placeholder: clase personalizada para el logo del footer
        -->
        <div class="logo-placeholder">
            <img src="/images/logo/logo.png" alt="Logo Gym Manager" class="img-fluid" style="max-height: 100%;">
        </div>
    </div>
</aside>