<aside th:fragment="sidebar-fragment" id="sidebar" class="sidebar d-flex flex-column p-3">
    
<!--    <div class="sidebar-header mb-4 px-2">-->
<!--        <h5 class="text-white fw-bold m-0" style="letter-spacing: 1px;"></h5>-->
<!--    </div>-->
    <div class="sidebar-footer text-center">
        <div class="logo-placeholder">
            <img th:src="@{/images/logo/logo.png}"
                 alt="Logo Gym Manager"
                 class="img-fluid"
                 style="max-height:160px;">
        </div>
    </div>
    <ul class="nav nav-pills flex-column mb-auto gap-2">

    <li class="nav-item">
        <a th:href="@{/dashboard}" 
           class="nav-link" 
           th:classappend="${active == 'dashboard'} ? 'active'">
            <i data-lucide="house"></i>
            Inicio
        </a>
    </li>

    <li class="nav-item">
        <a th:href="@{/clientes}" 
           class="nav-link" 
           th:classappend="${active == 'clientes'} ? 'active'">
            <i data-lucide="users"></i>
            Clientes
        </a>
    </li>

    <li class="nav-item">
        <a th:href="@{/asistencias}" 
           class="nav-link" 
           th:classappend="${active == 'asistencias'} ? 'active'">
            <i data-lucide="notepad-text"></i>
            Asistencias
        </a>
    </li>

    <li class="nav-item">
        <a th:href="@{/actividades}" 
           class="nav-link" 
           th:classappend="${active == 'actividades'} ? 'active'">
            <i data-lucide="calendar"></i>
            Actividades
        </a>
    </li>

    <li class="nav-item">
        <a th:href="@{/instructores}" 
           class="nav-link" 
           th:classappend="${active == 'instructores'} ? 'active'">
            <i data-lucide="user-cog"></i>
            Instructores
        </a>
    </li>

    <li class="nav-item">
        <a th:href="@{/ingresos}" 
           class="nav-link" 
           th:classappend="${active == 'ingresos'} ? 'active'">
            <i data-lucide="dollar-sign"></i>
            Ingresos
        </a>
    </li>

    <li class="nav-item">
        <a th:href="@{/configuracion}" 
           class="nav-link" 
           th:classappend="${active == 'configuracion'} ? 'active'">
            <i data-lucide="settings"></i>
            Configuración
        </a>
    </li>

    <li class="nav-item">
        <form th:action="@{/logout}" method="post" id="logoutForm" class="d-none"></form>

        <a href="#"
           class="nav-link text-danger"
           onclick="document.getElementById('logoutForm').submit(); return false;">
            <i data-lucide="power"></i>
            Cerrar sesión
        </a>
    </li>

</ul>

</aside>