<div th:fragment="contenido">

    <!-- Header -->
    <div class="d-flex align-items-center mb-4">
        <h4 class="section-title mb-0">Actividades</h4>

        <div class="ms-auto d-flex gap-2">
            <button class="btn btn-outline-secondary btn-sm">
                Editar
            </button>
            <button class="btn btn-outline-danger btn-sm">
                - Eliminar
            </button>
            <button class="btn btn-outline-success btn-sm" onclick="abrirPanelActividad()">
                + Nueva actividad
            </button>
        </div>
    </div>

    <div id="panelOverlayActividad"
        class="panel-overlay d-none"
        onclick="cerrarPanelActividad()">

        <!-- Panel -->
        <div class="panel-container"
            onclick="event.stopPropagation()"
            th:insert="fragments/panel-actividades :: panelActividad">
        </div>
    </div>
    <!-- Tabla -->
    <div class="card custom-card">

        <table class="table table-sm align-middle mb-0">
            <thead>
                <tr class="text-muted">
                    <th>Nombre</th>
                    <th>Instructor</th>
                    <th>Días</th>
                    <th>Horario</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="actividad : ${actividades}">
                    <td>
                        <strong th:text="${actividad.nombre}"></strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        <span class="badge bg-success"></span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>
