<div th:fragment="contenido">

    <!-- Header -->
    <div class="d-flex align-items-center mb-4">
        <h4 class="section-title mb-0">Actividades</h4>

        <div class="ms-auto d-flex gap-2">
            <button class="btn btn-outline-danger btn-sm btn-modo-eliminar"
                    onclick="toggleModoEliminar()">
                Eliminar
            </button>

            <button class="btn btn-outline-success btn-sm" onclick="abrirPanelActividad()">
                + Nueva actividad
            </button>
        </div>
    </div>

    <div id="panelOverlayActividad"
        class="panel-overlay d-none"
        onclick="cerrarPanelActividad()">

        <!-- Panel -->
        <div class="panel-container"
            onclick="event.stopPropagation()"
            th:insert="fragments/panel-actividades :: panelActividad">
        </div>
    </div>
    <!-- Tabla -->
    <div class="card custom-card">

        <table class="table table-sm align-middle mb-0">
            <thead>
                <tr class="text-muted">
                    <th>Actividad</th>
                    <th>Instructor</th>
                    <th>Cant./cupos</th>
                    <th>Días</th>
                    <th>Horario</th>
                    <th class="text-center" style="width: 120px;">Acciones</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="actividad : ${actividades}">
                    <td th:text="${actividad.nombre}"></td>
                    <td>
                    <span th:each="d, iter : ${actividad.dictados}">
                        <span th:text="${d.instructor.nombre + ' ' + d.instructor.apellido}"></span>
                        <span th:if="${!iter.last}">, </span>
                    </span>
                    </td>   
                    <td
                        th:text="${#lists.size(actividad.dictados) + '/' + actividad.cupoMaximo}"
                    ></td>
                    <td
                    ></td>
                    <td
                        
                    ></td>
                    <td class="text-center">
                        <div class="acciones-td">
                        <button type="button"
                                class="btn btn-sm btn-outline-secondary btn-editar"
                                th:attr="data-id=${actividad.idActividad}, 
                                        data-nombre=${actividad.nombre}, 
                                        data-cupo-maximo=${actividad.cupoMaximo}, 
                                        data-precio=${actividad.precio}"
                                onclick="abrirPanelEditarActividad(this)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <!-- Eliminar -->
                            <button type="button"
                            class="btn btn-sm btn-outline-danger btn-eliminar position-absolute"
                            th:attr="
                            data-id=${actividad.idActividad},
                            data-nombre=${actividad.nombre},
                            data-cupoMaximo=${actividad.cupoMaximo},
                            data-precio=${actividad.precio},
                            data-url='/actividades/eliminar'"
                                    onclick="abrirPanelEliminar(this)">
                                    <i class="bi bi-trash"></i>
                                </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>
        <div id="panelEliminarOverlay"
            class="panel-overlay d-none"
            onclick="cerrarPanelEliminar()">

            <div class="panel-container"
            onclick="event.stopPropagation()"
            th:insert="fragments/panel-eliminar :: panelEliminar">
        </div>
    </div>
</div>
