<div th:fragment="contenido">

    <h4 class="section-title mb-3">Nuevo Cliente</h4>

    <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">

        <div class="mb-2">
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Apellido</label>
            <input type="text" th:field="*{apellido}" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>DNI</label>
            <input type="text" th:field="*{dni}" class="form-control" required>
        </div>

        <div class="mb-2">
            <label>Teléfono</label>
            <input type="text" th:field="*{telefono}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-action mt-2">Guardar Cliente</button>
    </form>

</div>
