<div th:fragment="contenido">

    <!-- Header -->
    <div class="d-flex align-items-center mb-4">

        <h4 class="section-title mb-0">Clientes</h4>

        <div class="ms-auto d-flex gap-2">
            <!-- <button class="btn btn-outline-secondary btn-sm btn-modo-editar"
                    onclick="toggleModoEditar()">
                Editar
            </button> -->

            <button class="btn btn-outline-danger btn-sm btn-modo-eliminar"
                    onclick="toggleModoEliminar()">
                Eliminar
            </button>
            <button class="btn btn-outline-success btn-sm" onclick="abrirPanelCliente()">
                + Añadir Cliente
            </button>
        </div>
    </div>

    <!-- Filtro -->
    <div class="mb-3 d-flex justify-content-between">
        <input 
            id="filtroClientes"
            type="text"
            class="form-control form-control-sm"
            style="max-width: 250px;"
            placeholder="Filtrar clientes">
    </div>

    <!-- Panel añadir cliente -->
        <div id="panelOverlay"
            class="panel-overlay"
            th:classappend="${abrirPanel} ? '' : 'd-none'"
            onclick="cerrarPanelCliente()">

            <div class="panel-container"
                onclick="event.stopPropagation()"
                th:insert="fragments/panel-cliente :: panelCliente">
            </div>
        </div>

    <!-- Tabla -->
    <div class="card custom-card">
        <div class="table-responsive">
            <table id="tablaClientes" class="table table-hover table-sm align-middle mb-0">
                <thead>
                    <tr class="text-muted small text-uppercase">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <!-- <th>DNI</th> -->
                        <!-- <th>Tel.</th> -->
                        <th>Actividad</th>
                        <th>Fecha de pago</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center" style="width: 120px;">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        
                        <td th:text="${cliente.nombre}">
                        </td>
                        <td th:text="${cliente.apellido}"> 
                        </td>
                        <!-- <td th:text="${cliente.dni}"> -->
                        </td>
                        <!-- <td th:text="${cliente.telefono}"> -->
                        </td>
                        <!-- actividad.. -->
                        <td >
                        </td>
                        <td>
                            fecha...
                        </td>
                        <!-- para el estado usar la funcion Adeuda() -->
                        <td class="text-center">
                            <span th:if="${cliente.adeuda()}" class="badge bg-danger">Adeuda</span>
                            <span th:if="${!cliente.adeuda()}" class="badge bg-success">Al día</span>
                        </td>
                    <td class="text-center">
                        <div class="acciones-td">
                            <!-- Editar -->
                            <button type="button"
                                    class="btn btn-sm btn-outline-secondary btn-editar" 
                                    th:attr="data-id=${cliente.idCliente}, 
                                            data-nombre=${cliente.nombre}, 
                                            data-apellido=${cliente.apellido},
                                            data-dni=${cliente.dni}, 
                                            data-telefono=${cliente.telefono}"
                                    onclick="abrirPanelEditarCliente(this)">
                                <i class="bi bi-pencil"></i>
                            </button>

                            <!-- Eliminar -->
                            <button type="button"
                                    class="btn btn-sm btn-outline-danger btn-eliminar"
                                    th:attr="
                                        data-id=${cliente.idCliente},
                                        data-nombre=${cliente.nombre},
                                        data-url='/clientes/eliminar'"
                                    onclick="abrirPanelEliminar(this)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </td>

                    </tr>
                </tbody>
                <!-- <div id="panelEliminarClienteOverlay"
                    class="panel-overlay d-none"
                    onclick="cerrarPanelEliminarCliente()">

                    <div class="panel-container"
                        onclick="event.stopPropagation()"
                        th:insert="~{fragments/eliminar-cliente :: panelEliminarCliente}">
                    </div>
                </div> -->
                <div id="panelEliminarOverlay"
                    class="panel-overlay d-none"
                    onclick="cerrarPanelEliminar()">

                    <div class="panel-container"
                        onclick="event.stopPropagation()"
                        th:insert="fragments/panel-eliminar :: panelEliminar">
                    </div>
                </div>
            </table>
        </div>
    </div>

</div>
