
<div th:fragment="contenido">

    <!-- Header -->
    <div class="d-flex align-items-center mb-4">
        <h4 class="section-title mb-0">Instructores</h4>

        <div class="ms-auto d-flex gap-2">

            <button class="btn btn-outline-danger btn-sm btn-modo-eliminar"
                    onclick="toggleModoEliminar()">
                Eliminar
            </button>
            <button class="btn btn-outline-success btn-sm" onclick="abrirPanelInstructor()">
                + Añadir Instructor
            </button>
        </div>
    </div>

    <!-- Filtro -->
    <div class="mb-3 d-flex justify-content-between">
        <input 
            id="filtroInstructores"
            type="text"
            class="form-control form-control-sm"
            style="max-width: 250px;"
            placeholder="Filtrar instructores">
    </div>

    <!-- Panel añadir instructor -->
    <div id="panelOverlayInstructor"
         class="panel-overlay"
         th:classappend="${abrirPanelInstructor} ? '' : 'd-none'"
         onclick="cerrarPanelInstructor()">

        <div class="panel-container"
             onclick="event.stopPropagation()"
             th:insert="fragments/panel-instructor :: panelInstructor">
        </div>
    </div>

    <!-- Tabla -->
    <div class="card custom-card">
        <div class="table-responsive">
            <table id="tablaInstructores" class="table table-hover table-sm align-middle mb-0">
                <thead>
                    <tr class="text-muted small text-uppercase">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Teléfono</th>
                        <th class="text-center" style="width: 120px;">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="instructor : ${instructores}">
                        <td th:text="${instructor.nombre}">
                        </td>
                        <td th:text="${instructor.apellido}"></strong>
                        </td>
                        <td th:text="${instructor.dni}"></strong>
                        </td>
                        <td th:text="${instructor.telefono}"></strong>
                        </td>
                        <td class="text-center">
                            <!-- Editar -->
                            <button type="button"
                                    class="btn btn-sm btn-outline-secondary btn-editar position-absolute"
                                    th:attr="
                                        data-id=${instructor.idInstructor},
                                        data-nombre=${instructor.nombre},
                                        data-apellido=${instructor.apellido},
                                        data-dni=${instructor.dni},
                                        data-telefono=${instructor.telefono}"
                                    onclick="abrirPanelEditarInstructor(this)">
                                <i class="bi bi-pencil"></i>
                            </button>

                            <!-- Eliminar -->
                            <button type="button"
                                    class="btn btn-sm btn-outline-danger btn-eliminar"
                                    th:attr="
                                        data-id=${instructor.idInstructor},
                                        data-nombre=${instructor.nombre},
                                        data-url='/instructores/eliminar'"
                                    onclick="abrirPanelEliminar(this)">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <div id="panelEliminarOverlay"
                        class="panel-overlay d-none"
                        onclick="cerrarPanelEliminar()">
                    
                        <div class="panel-container"
                            onclick="event.stopPropagation()"
                            th:insert="fragments/panel-eliminar :: panelEliminar">
                        </div>
                    </div>
                </tbody>

            </table>
        </div>
    </div>

</div>